.clouds-frame-content{
    display: flex;
    gap: 20;
}

.cloud-row-container{
    display: flex;
    flex-direction: column;
    gap: 10;
    background-color: rgb(142, 158, 248);
    padding: 1rem;
    border-radius: 1rem;
}

.cloud-row{
    display: flex;
    gap: 8;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color:  rgb(178, 190, 253);
    margin: 0.25rem;
    border-radius: 0.5rem;
}

.cloud-row-item{
    padding-right: 1rem;

}