.input-frame {
    flex: 1 1 auto;
    overflow: auto;
    padding: 8px;
}

.input-frame-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-frame-box p {
    margin-right: 1rem;
    text-align: left;
    width: 250px;
}