
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app-main {
  width: 100%;
  height: 100%;
}

.ant-layout-footer{
  display: flex;
  justify-content: center;
  background-color: #3b49c7;
  color: #b11818;
  font-size: large;
}

.ant-layout-footer a{
  color: #fff;
}

.ant-layout-header {
  display: flex;
  justify-content: center;
  background-color: #3b49c7;
  color: #fff;
  font-size: large;
}

